div#registerContainer
div.group 
	p
	form(ng-submit="register()").form-horizontal
	
		div 
			label.col-sm-2.control_label Sample type
			select(ng-model="record.sampleType", ng-options="type as type.name for type in sampleTypes", required)
				option(value="") Select Sample Type
		div 
			label.col-sm-2.control_label Reference number 
			input(type="text", ng-model="record.referenceNumber", required)
		div 
			label.col-sm-2.control_label Sample origin 
			input(type="text", ng-model="record.originLocation")
		div 
			label.col-sm-2.control_label Sample date 
			input(type="text", ng-model="record.sampleDate")
		div 
			label.col-sm-2.control_label Employee 
			input(type="text", ng-model="record.employee")
		div 
			label.col-sm-2.control_label Institution 
			input(type="text", ng-model="record.owner")
		div 
			label.col-sm-2.control_label Sample location 
			input(type="text", ng-model="record.sampleLocation")
		div 
			label.col-sm-2.control_label Remarks 
			input(type="text", ng-model="record.remarks")
		div 
			label.col-sm-2.control_label Raman analysis 
			input(type="checkbox", ng-model="record.ramanAnalysis")
		div 
			label.col-sm-2.control_label FTIR analysis 
			input(type="checkbox", ng-model="record.ftirAnalysis")
		div 
			label.col-sm-2.control_label GC-MS chromatograms 
			input(type="checkbox", ng-model="record.gcmsChromatagrams")
		
		div(ng-switch on="record.sampleType.id")
			div(ng-switch-when="paint")
				div Paint layer description
					input(type="text", ng-model="record.paintLayerDescription")
			div(ng-switch-when="fibre")
				div Filler
					input(type="checkbox", ng-model="record.filler")
		p
		button(type="submit") Save
		div
			alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") {{alert.msg}}
