div#searchContainer
	div#search
		form(ng-submit="search()")
			input(type="text", ng-model="searchTerm", required)
			button(type="submit") Search
	div
		table
			thead
				tr
					th Reference number
					th Type
					th Date
			tbody
				tr(ng-repeat="res in searchResultsList")
					td: a(href='register', ng-click="viewSample(res.sample_record)") {{res.sample_record.referenceNumber}}
					td{{res.sample_record.sampleType.name}}
					td{{res.sample_record.sampleDate}}
