div#viewContainer
	div(ng-controller="CarouselImageCtrl").row
		div.col-sm-6
			div.row
				div.col-sm-4
					label Reference number
				div.col-sm-4
					label {{record.referenceNumber}}
			div.row 
				div.col-sm-4
					label Sample type
				div.col-sm-4{{record.sampleType.name}}
			div.row
				div.col-sm-4
					label Sample origin
				div.col-sm-4{{record.originLocation}}
			div.row
				div.col-sm-4
					label Sample date
				div.col-sm-4{{record.sampleDate | date:'dd-MM-yyyy'}}
			div.row
				div.col-sm-4
					label Institution
				div.col-sm-4{{record.owner.name}}
			div.row
				div.col-sm-4
					label Employee
				div.col-sm-4{{record.employee}}
			div.row
				div.col-sm-4
					label Sample location
				div.col-sm-4{{record.sampleLocation}}
			div.row
				div.col-sm-4
					label Remarks
				div.col-sm-8{{record.remarks}}
			div(ng-switch on="record.sampleType.id")
				div(ng-switch-when="fibre")
					div.row	
						div.col-sm-4
							label Fibre type
						div.col-sm-4
							span(ng-repeat="item in record.fibreType")
								{{item.name}}{{$last ? '' : ', '}}
					div.row	
						div.col-sm-4
							label Fibre Glue
						div.col-sm-4
							span(ng-repeat="item in record.fibreGlue")
								{{item.name}}{{$last ? '' : ', '}}
					div(ng-show="record.fibreLigin == true").row
						div.col-sm-4
							label Ligin
						div.col-sm-8
							|Yes
					div(ng-show="record.fibreAlum == true").row
						div.col-sm-4
							label Alum
						div.col-sm-8
							|Yes
					div(ng-show="record.fibreFiller == true").row
						div.col-sm-4
							label Filler
						div.col-sm-8
							|Yes
				div(ng-switch-when="material")
					div.row	
						div.col-sm-4
							label Material type
						div.col-sm-4
							span(ng-repeat="item in record.materialType")
								{{item.name}}{{$last ? '' : ', '}}
				div(ng-switch-when="photograph")
					div.row	
						div.col-sm-4
							label Media type
						div.col-sm-4{{record.mediaType.name}}
					div.row	
						div.col-sm-4
							label Media film
						div.col-sm-4{{record.mediaFilm.name}}
					div.row	
						div.col-sm-4
							label Media format
						div.col-sm-4{{record.mediaFormat.name}}
					div.row	
						div.col-sm-4
							label Media filter
						div.col-sm-4{{record.mediaFilter.name}}
					div.row	
						div.col-sm-4
							label Media lighting
						div.col-sm-4
							span(ng-repeat="item in record.mediaLighting")
								{{item.name}}{{$last ? '' : ', '}}
					div.row	
						div.col-sm-4
							label Media scope
						div.col-sm-4
							span(ng-repeat="item in record.mediaScope")
								{{item.name}}{{$last ? '' : ', '}}
				div(ng-switch-when="paint")
					div(ng-show="record.paintPriming == true").row
						div.col-sm-4
							label Priming
						div.col-sm-8
							|Yes
					div.row
						div.col-sm-4
							label Paint layers description
						div.col-sm-8{{record.paintLayerDescription}}
					div(ng-repeat="item in record.paintLayer")
						div.row
							div.col-sm-4
								label {{item.layerType.name}} Layer
						div.row(ng-show="item.layerType.name == 'Ground'")
							div.col-sm-4
								label.sub Ground type
							div.col-sm-8
								span(ng-repeat="gt in item.paintGroundType")
									{{gt.name}}{{$last ? '' : ', '}}
						div.row
							div.col-sm-4
								label.sub Binders
							div.col-sm-8
								span(ng-repeat="binder in item.paintBinder")
									{{binder.name}}{{$last ? '' : ', '}}
						div.row
							div.col-sm-4
								label.sub Colours
							div.col-sm-8
								span(ng-repeat="colour in item.colour")
									{{colour.name}}{{$last ? '' : ', '}}
						div.row
							div.col-sm-4
								label.sub Dyes
							div.col-sm-8
								span(ng-repeat="dye in item.dye")
									{{dye.name}}{{$last ? '' : ', '}}
						div.row
							div.col-sm-4
								label.sub Pigments
							div.col-sm-8
								span(ng-repeat="pigment in item.pigment")
									{{pigment.name}}{{$last ? '' : ', '}}
				div(ng-switch-when="pigment")
					div.row	
						div.col-sm-4
							label Colour Classification
						div.col-sm-4{{record.pigmentColourClass.name}}
					div.row	
						div.col-sm-4
							label Source
						div.col-sm-4{{record.pigmentSource}}
					div.row	
						div.col-sm-4
							label Production no./Batch no.
						div.col-sm-4{{record.pigmentProdNumber}}
					div.row	
						div.col-sm-4
							label Secondary provenance
						div.col-sm-4{{record.pigmentSecondryProvenance}}
					div.row	
						div.col-sm-4
							label Place of origin
						div.col-sm-4{{record.pigmentOrigin}}
					div.row	
						div.col-sm-4
							label Chemical composition
						div.col-sm-4{{record.pigmentComposition}}
					div.row	
						div.col-sm-4
							label Pigment name
						div.col-sm-4{{record.pigmentName.name}}
					div.row	
						div.col-sm-4
							label Other names
						div.col-sm-4{{record.pigmentOtherName}}
					div.row	
						div.col-sm-4
							label Form
						div.col-sm-4{{record.pigmentForm.name}}
					div.row	
						div.col-sm-4
							label Production date
						div.col-sm-4{{record.productionDate | date:'dd-MM-yyyy'}}
					div.row	
						div.col-sm-4
							label Container
						div.col-sm-4{{record.pigmentContainer.name}}
				div(ng-switch-when="stretcher")
					div.row	
						div.col-sm-4
							label Stretcher type
						div.col-sm-4
							span(ng-repeat="item in record.stretcherType")
								{{item.name}}{{$last ? '' : ', '}}
					div.row	
						div.col-sm-4
							label Material type
						div.col-sm-4
							span(ng-repeat="item in record.stretcherMaterialType")
								{{item.name}}{{$last ? '' : ', '}}
					div.row	
						div.col-sm-4
							label Condition
						div.col-sm-4{{record.stretcherCondition.name}}
					div.row	
						div.col-sm-4
							label Joint technique
						div.col-sm-4
							span(ng-repeat="item in record.stretcherJointTechnique")
								{{item.name}}{{$last ? '' : ', '}}
					div.row	
						div.col-sm-4
							label Dimensions
						div.col-sm-4{{record.stretcherDimensions}}
					div.row	
						div.col-sm-4
							label Production date
						div.col-sm-4{{record.stretcherProductionDate | date:'dd-MM-yyyy'}}
					div.row	
						div.col-sm-4
							label Source
						div.col-sm-4{{record.stretcherSource}}
				div(ng-switch-when="xray")
					div.row	
						div.col-sm-4
							label Xray type
						div.col-sm-4{{record.xrayType.name}}
					div.row	
						div.col-sm-4
							label Xray film type
						div.col-sm-4{{record.xrayFilmType.name}}
					div(ng-repeat="item in record.xrayGroup")
						div.row
							div.col-sm-4
								label Xray parameters {{$index + 1}}
								span(ng-show="item.test == true") 
									label (test) 
						div.row	
							div.col-sm-4
								label.sub Kv
							div.col-sm-4{{item.kv}}
						div.row	
							div.col-sm-4
								label.sub mA
							div.col-sm-4{{item.ma}}
						div.row	
							div.col-sm-4
								label.sub Time
							div.col-sm-4{{item.time}}
						div.row	
							div.col-sm-4
								label.sub Focus
							div.col-sm-4{{item.focus}}
						div.row	
							div.col-sm-4
								label.sub Distance
							div.col-sm-4{{item.distance}}
						div.row	
							div.col-sm-4
								label.sub Filter
							div.col-sm-4{{item.filter.name}}
			div(ng-repeat="item in record.sampleAnalysis")
				div.row
					div.col-sm-4
						label {{item.sampleAnalysisType.name}} Analysis
				div.row
					div.col-sm-4
						label.sub Description
					div.col-sm-8
						{{item.sampleAnalysisDescription}}
				div.row
					div.col-sm-4
						label.sub Results
					div.col-sm-8
						{{item.sampleAnalysisResults}}
		div(style="height: 600px").col-sm-5
			carousel(interval="myInterval")
				slide(ng-repeat="slide in slides", active="slide.active")
					img(ng-src="{{slide.image}}", style="margin:auto")
					div.carousel-caption
						h4 Image {{$index + 1}}
						p{{slide.text}}
	


