!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/js/lib/bootstrap-3.1.1-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/js/lib/multiselect/style.css')
    link(rel='stylesheet', href='/js/lib/angular-toggle-switch/angular-toggle-switch.css')
    link(rel='stylesheet', href='/js/lib/angular-toggle-switch/angular-toggle-switch-bootstrap.css')

  body
    block body